body, html, ul, li{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 100%;
}

li {list-style: none;}

#toolMenu {
    position: absolute;
    left: 50%;
    top: 0;
    width: 620px;
    height: 40px;
    background: #2a55ff;
    color: #fff;
    font-weight: bold;
    margin-left: -300px;
    border-radius: 0 0 8px 8px;
    opactiy: 0.6;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#toolMenu li {
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    margin: 5px 3px 0 0;
    cursor: pointer;
    font: normal bold 14px/30px Microsoft YaHei;
}

#toolMenu li:hover, #toolMenu li.cur {
    background: #fff;
    color: #2a55ff;
}

#container {
    height: 100%;
    width: 100%;
}

#district {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    background: #fff;
    width: 400px;
    height: 200px;
    margin: -100px 0 0 -200px;
    border-radius: 10px 0 0 0;
    border: 10px solid rgba(182, 210, 236, 0.6);
}

#hotCircle, #routeNavigation, #routeTrace, #selectMember, #ordersInfo {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 500px;
    height: 200px;
    border-radius: 0 10px 0 0;
    border: 10px solid rgba(182, 210, 236, 0.6);
}

#ordersInfo {height: 500px; width: 400px; overflow: auto;}

#ordersInfo table {border-collapse: collapse; border: 1px solid #ccc;}
#ordersInfo table tr td{padding: 3px; border: 1px solid #ccc; font-size: 0.8em;}

.item {
    width: 100%;
    padding: 5px;
}

.item label {
    display: inline-block;
    width: 80px;
    font-size: 12px;
}

.item input {
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
}

#hotCircle .recroding {background: #2A55FF}

.hideHandler {
    position: absolute;
    height: 28px;
    line-height: 28px;
    width: 50px;
    border-radius: 3px 3px 0 0;
    top: -30px;
    right: -8px;
    font-size: 12px;
    text-align: center;
    background: #d3e4f3;
    cursor: pointer;
}
